{% extends 'master-detail-view.html' %}


{% block detail_block %}
    <div class="panel panel-info">
        <div class="panel-heading">ยินดีต้อนรับสู่ระบบสารสนเทศกลาง</div>
        <div class="panel-body">
            ในขั้นตอนเริ่มต้น ขอให้ท่านแก้ไขข้อมูลประจำตัวที่ บัญชี -> ข้อมูล
            <hr>
            ระบบในปัจจุบัน
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    บริการ
                </li>
            </ul>
        </div>
    </div>
{% endblock %}